*
.cabecalho{
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.inicio{ 
    font-style: italic;
    align-items: center;
    justify-content: center;
    float: right;
    width: 50%;
    height: 70%;
    font-size: 1.5rem;
    align-content: start;
    text-align: center;}
